

body {
    background-color:#eaeaeae5;
}

.index-form__content {
    max-width: 1200px;
margin: 0 auto;
padding: 0 60px;
justify-items: center;
}

.index__inner {
   margin: 70px 15px;
    width: 80%;
}

.index__heading.content__heading {
    margin-left: 20px;
}

.index__table {
   margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    color: #727272;
}

.date-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;                    /* これが中央寄せのポイント */
}

a.btn-month{
    color: #555;     /* 太字 */
    text-decoration: none;

}

.current-date {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1;                        /* 中央に固定 */
}











.index__row {
    border: 1px solid #e0dfde;
}

.index__label,
.index__data {
    padding: 16px 8px;
    text-align: center;
    vertical-align: middle;
}

.index__data {
    padding: 16px 8px;
    text-align: center; 
    vertical-align: middle; 
}

.detail__data a{
    color: #000;
    font-weight: bold;     /* 太字 */
    text-decoration: none;
}

@media screen and (max-width: 851px) {
.index__inner {
    margin: 70px 15px;
    width: 100%;
}
}