

body {
    background-color:#eaeaeae5;
}

.index-form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
     margin: 80px auto 0; /* 上の余白 + 横中央 */
    width: 80%;           /* 全体幅の90%に制限 */
    max-width: 1000px; 
    box-sizing: border-box;
    
}
.index__table {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.index__heading.content__heading,
.index__inner,
.date-content,
.index__table {
    width: 100%;        /* 親幅いっぱい */
    box-sizing: border-box; /* padding分も幅に含める */
}

.index__heading.content__heading {
    text-align: left;   /* 左寄せ */
    margin-bottom: 20px;
}

.index__table {
    margin: 16px 0 0;   /* 上余白のみ */
}

.index__inner {
    margin: 32px auto 0;
    width: 84%;
    border: 1px solid #e0dfde;
    background-color: #ffffff
}


.index__table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

.index__row {
    border: 1px solid #e0dfde;
}

.index__label,
.index__data {
    padding: 16px 8px;
    text-align: center;
    vertical-align: middle;
}

.index__data {
    padding: 16px 8px;
    text-align: center; 
    vertical-align: middle; 
}