body,
.approve__content {
    background-color: #f0f0f0;
}

.approve__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    justify-items: center;
}

.approve-inner {
    margin: 70px 15px;
    width: 90%;
    position: relative;
}

.content__heading {
    margin-left: 90px;
}

.approve-content {
    width: 100%;
}

.approve__table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

.approve__table tr {
    border-bottom: 3px solid #f0f0f0;
}

.approve__table th,
.approve__table td {
    padding: 30px;
    text-align: left;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: bold;
}

.approve__table th {
    width: 200px;
    background-color: #fff;
    color: #737373;
}

.approve__table td.editable {
    background-color: #fff;
}

.approve__table td.editable-cell input {
    width: 100px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    text-align: center;
    height: 35px;
    font-weight: bold;
}

.approve__table td.editable-cell textarea {
    border: none;
    padding: 5px;
    box-sizing: border-box;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    text-align: center;
    height: 35px;
    width: 300px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.approve__table td.editable-cell textarea {
    resize: vertical;
    min-height: 40px;
}

.time-range {
    display: flex;
    align-items: center;
    gap: 8px;
}

.time-range input[type="time"] {
    width: 120px;
}

.time-range span {
    font-weight: bold;
    color: #555;
}

button.approve-submit {
    width: 130px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    right: 70px;
    background-color: #040404;
    color: #fff;
    font-size: 25px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
}

.approved-submit {
    width: 130px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    right: 70px;
    background-color: #a8a7a7;
    color: #fff;
    font-size: 25px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 851px) {
    .approve__table tr {
        display: block;
    }

    .approve__table th,
    .approve__table td {
        display: block;
        width: 100%;
        padding: 4px 0;
        text-align: center;
    }
    .time-range {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}
