body {
    background-color:#eaeaeae5;
} 

.attendance-form__content {
max-width: 1200px;
margin: 0 auto;
padding: 0 60px;
justify-items: center;

}
.content__heading content__heading {
    margin-left: 20px;
}
.attendance__inner {
    margin: 70px 15px;
    width: 80%;
   
}
a.month-btn{
    color: #555;     /* 太字 */
    text-decoration: none;
}

.attendance__table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    color: #727272;
}

.attendance__row {
    border: 1px solid #e0dfde;
    color: #888;
}

.attendance__label,
.attendance__data {
    padding: 16px 8px;
    text-align: center;
    vertical-align: middle;
}

.attendance__data {
    padding: 16px 8px;
    text-align: center; 
    vertical-align: middle; 
}

.attendance__data a{
    color: #000;
    font-weight: bold;     /* 太字 */
    text-decoration: none;
}

.date-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;   
 padding: 10px 16px;
    border-radius: 8px;
}
.date-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;                    /* これが中央寄せのポイント */
}

.current-date {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1;                        /* 中央に固定 */
}

.date-input {
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.date-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.date-btn:hover {
    color: #000;
}

.date-selector i {
    color: #888;
    font-size: 18px;
}

.csv-area {
    display: flex;
    justify-content: flex-end; /* テーブルの右端に揃える */
    margin-top: 30px;
}

.csv-submit {
    width: 130px;
    height: 50px;
    background-color: #020202;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
