
body, .attendance-detail {
    background-color: #f0f0f0; /* 薄いグレー */
     /* 余白をつけて見やすくする */
}

.detail-table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
      border-radius: 10px;

    
}

.detail-table th,
.detail-table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-radius: 10px;
}

.detail-table th {
    width: 150px;
    background-color: #fff;
}

.detail-table td.editable {
    border: 1px solid #d1cece;
    background-color: #fff;
}

.detail-table td.editable input,
.detail-table td.editable textarea {
    width: 100%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

.detail-table td.editable textarea {
    resize: vertical;
    min-height: 40px;
}
