body,
.attendance-detail {
    background-color: #f0f0f0;
}

.attendance-detail {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    justify-items: center;
}
.content__heading {
    margin-left: 90px;
}

.attendance-inner {
    margin: 70px 15px;
    width: 90%;
    position: relative;
}
.detail__content {
    width: 100%;
}

.detail__table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

.detail__table tr {
    border-bottom: 3px solid #f0f0f0; /* 行ごとに区切る */
}

.detail__table th,
.detail__table td {
    padding: 30px;
    text-align: left;
    vertical-align: middle;
    border-radius: 10px;
}

.detail__table th {
    width: 200px;
    background-color: #fff;
}

.detail__table td.editable {
    background-color: #fff;
}

.detail__table td.editable input {
    width: 100px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    text-align: center;
    height: 35px;
}

.detail__table td.editable textarea {
    border: none;
    padding: 5px;
    box-sizing: border-box;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    text-align: center;
    height: 35px;
    width: 300px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.detail__table td.editable textarea {
    resize: vertical;
    min-height: 40px;
}

.time-range {
    display: flex;
    align-items: center;
    gap: 8px; /* 時刻と〜の間隔 */
}

.time-range input[type="time"] {
    width: 120px;
}

.time-range span {
    font-weight: bold;
    color: #555;
}

.detail-submit {
    width: 130px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    right: 70px;
    background-color: #020202;
    color: #fff;
    font-size: 25px;
}

.alert-warning {
    margin-top: 20px;
    text-align: right;
    margin-right: 80px;
    color: #f70404;
}

.alert-danger {
    margin-top: 20px;
    text-align: right;
    margin-right: 80px;
    color: #f70404;
}

@media screen and (max-width: 851px) {
    .detail__table tr {
        display: block;
        margin-bottom: 12px;
    }

    .detail__table th,
    .detail__table td {
        display: block;
        width: 100%;
        padding: 4px 0;
        text-align: center;
    }
    .time-range {
        display: flex; /* フレックスコンテナにする */
        justify-content: center; /* 横方向中央揃え */
        align-items: center; /* 縦方向中央揃え */
        gap: 8px;
    }
}
