body {
    background-color: #eaeaeae5;
}

.list__heading content__heading {
    margin-left: 20px;
}
.list__inner {
    margin: 32px auto 0;
    width: 84%;
    border: 1px solid #e0dfde;
    background-color: #ffffff
}


.list__table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

.list__row {
    border: 1px solid #e0dfde;
}

.list__label,
.list__data {
    padding: 16px 8px;
    text-align: center;
    vertical-align: middle;
}

.list__data {
    padding: 16px 8px;
    text-align: center; /* 横方向の中央寄せ */
    vertical-align: middle; /* 縦方向の中央寄せ（行の中央に） */
}