.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registration-form__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status-display {
    font-size: 20px;
    font-weight: bold;
    background-color: #f0f0f0;
    color: #2c3e50;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.attendance-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.date-display {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.time-display {
    font-size: 75px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration-form__btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #f9f5f9;
    background: #050505;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    width: 221px;
    height: 77px;
    font-size: 30px;
    margin: 13px;
}
.attendance-footer {
    display: flex;
    justify-content: center;
    height: 100px;
}

.btn:hover {
    background-color: #45a049;
}

.text-muted {
    font-weight: bold;
    font-size: 26px;
}

@media screen and (max-width: 851px) {
    .registration-form__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -70px;
    }

    .registration-form__btn {
        padding: 10px 20px;
        font-size: 18px;
        color: #f9f5f9;
        background: #050505;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
        width: 180px;
        height: 60px;
        font-size: 25px;
        margin: 13px;
    }

   
}
