body {
    background-color: #eaeaeae5;
}

.list-form__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    justify-items: center;
}

.list__inner {
    margin: 70px 15px;
    width: 80%;
}

.request-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-left: 20px;
    font-size: 18px;
}

a.btn {
    color: #000;
    text-decoration: none;
}

a.active {
    font-weight: bold;
    color: #000;
}

.toppage-list {
    font-size: 15px;
    display: flex;
    height: 47px;
    top: 127px;
    border-bottom: 1px solid #000;
}

.toppage-list h3 {
    margin: 0;
}
.approved {
    margin-left: 50px;
}

.list__table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    color: #727272;
    font-weight: bold;
}

.detail__data a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.list__row {
    border: 3px solid #eaeaeae5;
}

.list-table tr {
    border-bottom: 2px solid #ddd;
}

.list__label,
.list__data {
    padding: 16px 8px;
    text-align: left;
}

.list__status {
    text-align: center;
}

@media screen and (max-width: 851px) {
    .list__inner {
        margin: 70px 15px;
        width: 100%;
    }
}
