body {
    background-color: #f0eff2;
}

.list-form__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    justify-items: center;
}

.content__heading {
    margin-left: 20px;
}

.list__inner {
    margin: 70px 15px;
    width: 80%;
}

.index__table {
    margin-top: 70px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    color: #727272;
}

.index__row {
    border: 3px solid #f0eff2;
}

.index__label,
.index__data {
    padding: 16px 8px;
    text-align: center;
    vertical-align: middle;
}

.index__data {
    padding: 16px 8px;
    text-align: center;
    vertical-align: middle;
}

.detail__data a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 851px) {
    .list__inner {
        margin: 70px 15px;
        width: 100%;
    }
}
